# Dependencias
#node_modules
#.cache/

# Directorios de compilación
#public
#.gatsby-result

# Archivos de entorno
#.env*
#!.env.example

# Archivos de registro
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*

# Archivos del editor
#.vscode/
#.idea/
#*.swp